
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdk/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

instance/
.webassets-cache

*.log
*.sqlite
*.db

*.mo
*.pot

.coverage
htmlcov/
.pytest_cache/

.ipynb_checkpoints

/program/